amqp==5.3.1
asgiref==3.11.0
billiard==4.2.4
cachetools==6.2.4
celery==5.3.4
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
crispy-tailwind==1.0.3
cssselect==1.3.0
cssutils==2.11.1
Django==6.0
django-allauth==0.63.3
django-anymail==11.0
django-cloudinary-storage==0.3.0
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-environ==0.12.0
django-extensions==3.2.3
django-htmx==1.17.3
django-redis==5.4.0
gunicorn==21.2.0
idna==3.11
kombu==5.6.1
lxml==6.0.2
mailchimp-marketing==3.0.80
mailchimp_transactional==1.1.2
more-itertools==10.8.0
packaging==25.0
pillow==10.3.0
premailer==3.10.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
python-http-client==3.3.7
redis==5.0.1
reportlab==4.4.6
requests==2.31.0
sendgrid==6.11.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.4
starkbank-ecdsa==2.2.0
tzdata==2025.3
urllib3==2.6.2
vine==5.1.0
wcwidth==0.2.14
wheel==0.45.1
whitenoise==6.6.0
